body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.inline-title h1, .inline-title h2, .inline-title h3, .inline-title h4{
    display: inline-block;
    vertical-align: baseline;
}

.history-simple-item .commit-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.diff-table {
    width: 100%;
}
.diff-table tr:hover {
    cursor: pointer;
    background-color: #f8f8e0;
}

.diff-table tr.selected-row {
    background-color: #f8e5a3;
}
.diff-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.diff-table .cell-description {
    font-weight: bold;
    color: #0000cc;
    background-color: #EEE;
    border-right: 2px solid #EEE;
}
.diff-table .row-del td, .diff-table .row-new td, .diff-table .row-old td {
    padding-top: 3px;
    padding-bottom: 3px;
}
.diff-table .cell-a-num, .diff-table .cell-b-num {
    text-align: center;
    border-left: 1px solid #EEE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.diff-table .cell-b-num {
    border-right: 2px solid #EEE;
}
.diff-table .row-del {
    background-color: #FFE0E1;
}
.diff-table .row-new {
    background-color: #E0FFE1;
}
.diff-table .cell-content {
    white-space: pre;
    font-family: Courier, monospace;
    border-right: 2px solid #EEE;
}
.diff-table .last-line {
    border-bottom: 2px solid #EEE;
}
.diff-inner {
    max-width: 100%;
    overflow-x: scroll;
}
.revision-file-link {
    font-weight: normal;
}
.revision-file-link.active {
    font-weight: bold;
}

table.table > tbody > tr:hover {
    background-color: rgb(221, 221, 221);
}

.project-tree {
    width: 100%;
}
.project-tree .even {
    background-color: #eee;
}
.project-tree-file-permissions {
    width: 100px;
}
.project-tree-file-size {
    width: 100px;
}
.project-tree-file-links {
    width: 150px;
}

.avatar {
    background: #fff url("../img/avatar-placeholder.png") no-repeat 0 0;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: #e2e2e2 solid 2px;
    border-radius: 50%;
    margin-right: 5px;
    width: 150px;
    height: 150px;
}
.avatar.avatar-block {
    display: block;
}
.avatar img {
    width: 100%;
    height: 100%;
}
.avatar.avatar-middle {
    width: 50px;
    height: 50px;
}
.avatar.avatar-small {
    width: 20px;
    height: 20px;
}
